<ion-header no-border>
  <ion-toolbar color="success">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-input type="text" placeholder="Email" [(ngModel)]="email_address"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-button expand="full" class="no-padding" color="success" (click)="tryLogin()">Login</ion-button>
    <p class="ion-padding">
      Want to register <a (click)="openRegister()">Click here</a>
    </p>
  </ion-list>
</ion-content>
