<ion-content>
  <ion-slides pager="true">
    <ion-slide class="slide-one">
      <ion-item src="/assets/imgs/nofavs-image.jpg"></ion-item>
      <h4>Ionic 5</h4>
      <p class="labelIntro">Welcome to my App, you will enjoy
        <span>Hopefully this will help you.</span>
      </p>
    </ion-slide>

    <ion-slide class="slide-one">
      <ion-item src="/assets/imgs/nofavs-image.jpg"></ion-item>
      <h4>Ionic 4</h4>
      <p class="labelIntro">Welcome to my App, you will enjoy
        <span>Hopefully this will help you.</span>
      </p>
      <ion-button class="success" (click)="openLogin()">Login</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
